

<!--
  <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" style="width: 100%; height: 100%; object-fit: cover;">
    <source src="https://cdn.hubblecontent.osi.office.net/videos/publish/01d87b62-62fc-488b-8880-2d4d8674a18f/1170533217.mp4" type="video/mp4">
  </video> -->



  <div class="container">
    <div class="row">
      <div class="col">
        <select class="form-select" aria-label="Default select example" (change)="onChangeComp($event)">
          <option selected>Open this select menu</option>
          <option *ngFor="let item of componentes" [value]="item.id">{{item.text}}</option>
        </select>


      </div>
      <div class="col">
        <select class="form-select" aria-label="Default select example" (change)="onChangeSubComp($event)">
          <option selected>Open this select menu</option>
          <option *ngFor="let item of subcomponente" [value]="item.id">{{item.text}}</option>
        </select>

      </div>
      <div class="col">
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option *ngFor="let item of topicos" [value]="item.id">{{item.text}}</option>

        </select>

      </div>
    </div>

    <div class="row " style="margin-top: 3rem;" *ngFor="let item of filteredProducts ">
      <div class="col" >
        <p>{{item.nom_producto}} </p>
      </div>
    </div>
  </div>
